.content__skills {
    background-color: $popel_main;
}

// Skill groups
.skills__part-one {
    margin-top: $lg-padding-web;
    margin-bottom: $lg-padding-web;
}

.skills {
    margin: auto;

    &:nth-of-type(6) {
        rotate: -0.9deg;
        @include color_skill_group($popel_main, $clr_white)
    }

    &:nth-of-type(5) {
        rotate: 0.8deg;
        @include color_skill_group($salty_main, $clr_white)
    }
        
    &:nth-of-type(1) {
        rotate: 1.2deg;
        @include color_skill_group($salty_main, $clr_white);
    }

    &:nth-of-type(2) {
        rotate: -1.0deg;
        @include color_skill_group($popel_main, $clr_white);
    }

    &:nth-of-type(3) {
        rotate: 2deg;
        @include color_skill_group ($teeth_main, $clr_black)
    }

    &:nth-of-type(4) {
        rotate: -0.8deg;
        @include color_skill_group($blushing_main, $clr_white)
    }

}

.skills__part-two {
    > &:nth-child(1) {
        rotate: -2deg;
        @include color_skill_group ($blushing_main, $clr_white)

    }
}

.skills__inside {
    margin-top: calc($lg-padding-web * 2);
}


// Skills =======

// ----------

// ----------

//PC -------

// HTML
.skill__pc__html {
    rotate: -0.3deg;
    @include choose_progress (pc_html, 80%, $teeth_main, $teeth_dark)
}

// CSS
.skill__pc__css {
    rotate: 0.6deg;
    @include choose_progress (pc_css, 80%, $salty_main, $salty_dark)
}

// SCSS
.skill__pc__scss {
    rotate: -0.7deg;
    @include choose_progress(pc_scss, 70%, $blushing_main, $blushing_dark)
}

// Node
.skill__pc__node {
    rotate: 0.5deg;
    @include choose_progress(pc_node, 60%, $popel_main, $popel_dark)
}

// JS
.skill__pc__js {
    rotate: -0.8deg;
    @include choose_progress(pc_js, 70%, $teeth_main, $teeth_dark)
}

// React
.skill__pc__react {
    rotate: 0.7deg;
    @include choose_progress(pc_rt, 70%, $salty_main, $salty_dark)
}

// Express
.skill__pc__express {
    rotate: -0.4deg;
    @include choose_progress(pc_ex, 45%, $blushing_main, $blushing_dark)
}

// MongoDB
.skill__pc__mongo {
    rotate: 0.5deg;
    @include choose_progress(pc_mongo, 35%, $popel_main, $popel_dark)
}

// ----------

// ----------

// BWL -------

// Strategic Marketing
.skill__bwl__strm {
    rotate: 1.5deg;
    @include choose_progress(bwl_strm, 100%, $blushing_main, $blushing_dark)
}

// International Marketing 
.skill__bwl__intm {
    rotate: -0.7deg;
    @include choose_progress(bwl_intm, 100%, $popel_main, $popel_dark)
}

// Business Process Modelling
.skill__bwl__model {
    rotate: 1.3deg;
    @include choose_progress(bwl_model, 100%, $teeth_main, $teeth_dark)
}

// E-Commerce
.skill__bwl__ecom {
    rotate: -1.0deg;
    @include choose_progress(bwl_ecom, 80%, $salty_main, $salty_dark)
}

// CRM
.skill__bwl__crm {
    rotate: 1.2deg;
    @include choose_progress(bwl_crm, 60%, $blushing_main, $blushing_dark)
}

// Entrepreneurship
.skill__bwl__ent {
    rotate: -1.2deg;
    @include choose_progress(bwl_ent, 100%, $popel_main, $popel_dark)
}

// Investment
.skill__bwl__inv {
    rotate: 1.2deg;
    @include choose_progress(bwl_inv, 80%, $teeth_main, $teeth_dark)
}

// Controlling
.skill__bwl__cont {
    rotate: -1.5deg;
    @include choose_progress(bwl_cont, 40%, $salty_main, $salty_dark)
}

// ----------

// ----------

// Languages -------

// German
.skill__lan__ger {
    rotate: -2.0deg;
    @include choose_progress (lan_ger, 100%, $popel_main, $popel_dark)
}

// Portuguese
.skill__lan__por {
    rotate: -1.8deg;
    @include choose_progress (lan_por, 100%, $salty_main, $salty_dark)
}

// English
.skill__lan__eng {
    rotate: 0.3deg;
    @include choose_progress (lan_eng, 66.67%, $teeth_main, $teeth_dark)
}

// Spanish
.skill__lan__esp {
    rotate: -1.5deg;
    @include choose_progress (lan_esp, 66.67%, $blushing_main, $blushing_dark)
}

// Italian
.skill__lan__ita {
    rotate: 1.3deg;
    @include choose_progress (lan_ita, 16.67%, $popel_main, $popel_dark)
}

// Mandarin
.skill__lan__chn {
    rotate: -0.4deg;
    @include choose_progress (lan_chn, 0%, $salty_main, $salty_dark)
}

// ----------

// ----------

// Soft Skills -------

// Self Organization
.skill__soft__org {
    rotate:-1.3deg;
    @include choose_progress (soft_org, 100%, $teeth_main, $teeth_dark)
}

// Creative
.skill__soft__creative {
    rotate: 1.5deg;
    @include choose_progress (soft_creative, 100%, $blushing_main, $blushing_dark) 
}

// Critical thinking
.skill__soft__critical {
    rotate: 1deg;
    @include choose_progress (soft_critical, 80%, $salty_main, $salty_dark)
}

// Problem Solving
.skill__soft__problem {
    rotate:-2deg;
    @include choose_progress(soft_problem, 80%, $popel_main, $popel_dark)
}

// -------------

// MS Programs ------------------------

// powerpoint 
.skill__ms__pp {
    rotate: -2deg;
    @include choose_progress (ms_pp, 100%, $blushing_main, $blushing_dark)
}

// excel
.skill__ms__exc {
    rotate: 1.4deg;
    @include choose_progress (ms_exc, 100%, $salty_main, $salty_dark)
}

// visio
.skill__ms__vso {
    rotate: -1deg;
    @include choose_progress (ms_vso, 100%, $popel_main, $popel_dark)
}

// word
.skill__ms__wd {
    rotate: -1.5deg;
    @include choose_progress (ms_wd, 100%, $teeth_main, $teeth_dark)
}

// access
.skill__ms__acc {
    rotate: 1.8deg;
    @include choose_progress (ms_acc, 75%, $blushing_main, $blushing_dark);
}

// project
.skill__ms__prj {
    rotate: -0.5deg;
    @include choose_progress (ms_prj, 25%, $salty_main, $salty_dark)
}

// ----------------------------

// Adobe CC -------------------

// Photoshop
.skill__adobe__photo {
    rotate: -2deg;
    @include choose_progress (adobe_photo, 75%, $blushing_main, $blushing_dark)
}

.skill__adobe__indesign {
    rotate: 1.24deg;
    @include choose_progress (adobe_indesign, 75%, $salty_main, $salty_dark)
}

.skill__adobe__illustrator {
    rotate: -1.4deg;
    @include choose_progress (adobe_illustrator, 75%, $teeth_main, $teeth_dark)
}

.skill__adobe__xd {
    rotate: 1.8deg;
    @include choose_progress (adobe_xd, 50%, $popel_main, $popel_dark)
}

.skill__adobe__aftereffects {
    rotate: -1.2deg;
    @include choose_progress (adobe_aftereffects, 10%, $blushing_main, $blushing_dark)
}



// ================
.brick__skills {
    .brick__yellow {
        @include brick_colorchange($teeth_main, $teeth_shine, $teeth_dark);
    }
}


.brick__footer__skills {
    background: linear-gradient(to bottom, rgba(29,151,108,1) 0%, $clr_white 100%);

    .brick__footer__transition {
        .brick__green {
            @include brick_colorchange($popel_main, $popel_shine, $popel_dark);
        }
    }
}