.content__skills {
    background-color: $popel_main;
}

// Skill groups
.skills__part-one {
    margin-top: $lg-padding-web;
    margin-bottom: $lg-padding-web;
}

.skills {
    margin: auto;

    &:nth-of-type(6) {
        rotate: -0.9deg;
        @include color_skill_group($popel_main, $clr_white)
    }

    &:nth-of-type(5) {
        rotate: 0.8deg;
        @include color_skill_group($salty_main, $clr_white)
    }
        
    &:nth-of-type(1) {
        rotate: 1.2deg;
        @include color_skill_group($salty_main, $clr_white);
    }

    &:nth-of-type(2) {
        rotate: -1.0deg;
        @include color_skill_group($popel_main, $clr_white);
    }

    &:nth-of-type(3) {
        rotate: 2deg;
        @include color_skill_group ($teeth_main, $clr_black)
    }

    &:nth-of-type(4) {
        rotate: -0.8deg;
        @include color_skill_group($blushing_main, $clr_white)
    }

}

.skills__part-two {
    &:nth-child(1) {
        rotate: -2deg;
        @include color_skill_group ($blushing_main, $clr_white)

    }
}

.skills__inside {
    margin-top: calc($lg-padding-web * 2);
}


// Skills =======

// ----------

// ----------

//PC -------

// HTML
.skill__pc__html {
    rotate: -0.3deg;
    @include choose_progress (pc_html, 60%, $teeth_main, $teeth_dark)
}

// CSS
.skill__pc__css {
    rotate: 0.6deg;
    @include choose_progress (pc_css, 60%, $salty_main, $salty_dark)
}

// JS
.skill__pc__js {
    rotate: -0.8deg;
    @include choose_progress(pc_js, 60%, $popel_main, $popel_dark)
}

.skill__pc__ts {
    rotate: 0.3deg;
    @include choose_progress(pc_ts, 10%, $blushing_main, $blushing_dark)
}

// -- *Styling*
// SCSS
.skill__pc__scss {
    rotate: 0.7deg;
    @include choose_progress(pc_scss, 60%, $blushing_main, $blushing_dark)
}

// bootstrap
.skill__pc__bootstrap {
    rotate: -0.3deg;
    @include choose_progress(pc_bootstrap, 40%, $teeth_main, $teeth_dark)
}

// Tailwind
.skill__pc__tailwind {
    rotate: 0.2deg;
    @include choose_progress(pc_tailwind, 40%, $salty_main, $salty_dark)
}

// mantine
.skill__pc__mantine {
    rotate: -0.6deg;
    @include choose_progress(pc_mantine, 40%, $popel_main, $popel_dark)
}

// MaterialUI
.skill__pc__materialui {
    rotate: 0.4deg;
    @include choose_progress(pc_materialui, 40%, $blushing_main, $blushing_dark)
}
// -- *Datenbanken*
// MongoDB
.skill__pc__mongo {
    rotate: -0.5deg;
    @include choose_progress(pc_mongo, 60%, $popel_main, $popel_dark)
}

// MS Access
.skill__ms__acc {
    rotate: 0.4deg;
    @include choose_progress(ms_acc, 60%, $blushing_main, $blushing_dark)
}

// SQL
.skill__sql {
    rotate: -0.7deg;
    @include choose_progress(pc_sql, 10%, $teeth_main, $teeth_dark)
}

// -- *Frameworks*
// git
.skill__pc__git {
    rotate: 0.5deg;
    @include choose_progress(pc_git, 60%, $salty_main, $salty_dark)
}

// React
.skill__pc__react {
    rotate: -0.7deg;
    @include choose_progress(pc_rt, 60%, $popel_main, $popel_dark)
}

// Node
.skill__pc__node {
    rotate: 0.2deg;
    @include choose_progress(pc_node, 60%, $blushing_main, $blushing_dark)
}

// nodemon
.skill__pc__nodemon {
    rotate: -0.7deg;
    @include choose_progress(pc_nodemon, 60%, $teeth_main, $teeth_dark)
}

// Express
.skill__pc__express {
    rotate: 0.4deg;
    @include choose_progress(pc_ex, 60%, $salty_main, $salty_dark)
}

// RESTful API
.skill__pc__rest {
    rotate: -0.9deg;
    @include choose_progress(pc_rest, 60%, $popel_main, $popel_dark)
}

// npm
.skill__pc__npm {
    rotate: 0.2deg;
    @include choose_progress(pc_npm, 40%, $blushing_main, $blushing_dark)
}

// jwt
.skill__pc__jwt {
    rotate: -0.4deg;
    @include choose_progress(pc_jwt, 40%, $teeth_main, $teeth_dark)
}

// react router
.skill__pc__reactRouter {
    rotate: 0.6deg;
    @include choose_progress(pc_reactRouter, 40%, $salty_main, $salty_dark)
}

// github
.skill__pc__github {
    rotate: -0.3deg;
    @include choose_progress(pc_github, 40%, $popel_main, $popel_dark)
}

// mongoose
.skill__pc__mongoose {
    rotate: 0.2deg;
    @include choose_progress(pc_mongoose, 40%, $blushing_main, $blushing_dark)
}

// socket.io
.skill__pc__socketio {
    rotate: -0.5deg;
    @include choose_progress(pc_socketio, 20%, $teeth_main, $teeth_dark)
}

// konva
.skill__pc__konva {
    rotate: 0.7deg;
    @include choose_progress(pc_konva, 20%, $salty_main, $salty_dark)
}

// socket.io
.skill__pc__insomnia {
    rotate: -0.3deg;
    @include choose_progress(pc_insomnia, 20%, $popel_main, $popel_dark)
}

// postman
.skill__pc__postman {
    rotate: 0.2deg;
    @include choose_progress(pc_postman, 20%, $blushing_main, $blushing_dark)
}

// docker
.skill__pc__docker {
    rotate: -0.8deg;
    @include choose_progress(pc_docker, 10%, $teeth_main, $teeth_dark)
}

// ----------

// ----------

// BWL -------

// Strategic Marketing
.skill__bwl__strm {
    rotate: 1.5deg;
    @include choose_progress(bwl_strm, 100%, $teeth_main, $teeth_dark)
}

// International Marketing 
.skill__bwl__intm {
    rotate: -0.7deg;
    @include choose_progress(bwl_intm, 100%, $salty_main, $salty_dark)
}

// Business Process Modelling
.skill__bwl__model {
    rotate: 1.3deg;
    @include choose_progress(bwl_model, 100%, $popel_main, $popel_dark)
}

// E-Commerce
.skill__bwl__ecom {
    rotate: -1.0deg;
    @include choose_progress(bwl_ecom, 80%, $blushing_main, $blushing_dark)
}

// CRM
.skill__bwl__crm {
    rotate: 1.2deg;
    @include choose_progress(bwl_crm, 60%, $teeth_main, $teeth_dark)
}

// Entrepreneurship
.skill__bwl__ent {
    rotate: -1.2deg;
    @include choose_progress(bwl_ent, 100%, $salty_main, $salty_dark)
}

// Investment
.skill__bwl__inv {
    rotate: 1.2deg;
    @include choose_progress(bwl_inv, 80%, $popel_main, $popel_dark)
}

// Controlling
.skill__bwl__cont {
    rotate: -1.5deg;
    @include choose_progress(bwl_cont, 40%, $blushing_main, $blushing_dark)
}

// ----------

// ----------

// Languages -------

// German
.skill__lan__ger {
    rotate: -2.0deg;
    @include choose_progress (lan_ger, 100%, $popel_main, $popel_dark)
}

// Portuguese
.skill__lan__por {
    rotate: -1.8deg;
    @include choose_progress (lan_por, 100%, $blushing_main, $blushing_dark)
}

// English
.skill__lan__eng {
    rotate: 0.3deg;
    @include choose_progress (lan_eng, 66.67%, $teeth_main, $teeth_dark)
}

// Spanish
.skill__lan__esp {
    rotate: -1.5deg;
    @include choose_progress (lan_esp, 66.67%, $salty_main, $salty_dark)
}

// Italian
.skill__lan__ita {
    rotate: 1.3deg;
    @include choose_progress (lan_ita, 16.67%, $popel_main, $popel_dark)
}

// Mandarin
.skill__lan__chn {
    rotate: -0.4deg;
    @include choose_progress (lan_chn, 0%, $blushing_main, $blushing_dark)
}

// ----------

// ----------

// Soft Skills -------

// Self Organization
.skill__soft__org {
    rotate:-1.3deg;
    @include choose_progress (soft_org, 100%, $teeth_main, $teeth_dark)
}

// Creative
.skill__soft__creative {
    rotate: 1.5deg;
    @include choose_progress (soft_creative, 100%, $blushing_main, $blushing_dark) 
}

// Critical thinking
.skill__soft__critical {
    rotate: 1deg;
    @include choose_progress (soft_critical, 80%, $salty_main, $salty_dark)
}

// Problem Solving
.skill__soft__problem {
    rotate:-2deg;
    @include choose_progress(soft_problem, 80%, $popel_main, $popel_dark)
}

// -------------

// MS Programs ------------------------

// powerpoint 
.skill__ms__pp {
    rotate: -2deg;
    @include choose_progress (ms_pp, 100%, $blushing_main, $blushing_dark)
}

// excel
.skill__ms__exc {
    rotate: 1.4deg;
    @include choose_progress (ms_exc, 100%, $salty_main, $salty_dark)
}

// visio
.skill__ms__vso {
    rotate: -1deg;
    @include choose_progress (ms_vso, 100%, $popel_main, $popel_dark)
}

// word
.skill__ms__wd {
    rotate: -1.5deg;
    @include choose_progress (ms_wd, 100%, $teeth_main, $teeth_dark)
}

// project
.skill__ms__prj {
    rotate: -0.5deg;
    @include choose_progress (ms_prj, 25%, $salty_main, $salty_dark)
}

// ----------------------------

// Adobe CC -------------------

// Photoshop
.skill__adobe__photo {
    rotate: -2deg;
    @include choose_progress (adobe_photo, 40%, $teeth_main, $teeth_dark)
}

.skill__adobe__indesign {
    rotate: 1.24deg;
    @include choose_progress (adobe_indesign, 40%, $salty_main, $salty_dark)
}

.skill__adobe__illustrator {
    rotate: -1.4deg;
    @include choose_progress (adobe_illustrator, 40%, $popel_main, $popel_dark)
}

.skill__adobe__xd {
    rotate: 1.8deg;
    @include choose_progress (adobe_xd, 60%, $blushing_main, $blushing_dark)
}

.skill__adobe__aftereffects {
    rotate: -1.2deg;
    @include choose_progress (adobe_aftereffects, 10%, $teeth_main, $teeth_dark)
}

// ----------

// -----------

// Marketing Tools

.skill__mk__wix {
    rotate: 2.0deg;
    @include choose_progress(mk_wix, 60%, $blushing_main, $blushing_dark)
}

.skill__mk__fb {
    rotate: -1.3deg;
    @include choose_progress(mk_fb, 40%, $teeth_main, $teeth_dark)
}

.skill__mk__googleAds {
    rotate: 1.6deg;
    @include choose_progress(mk_googleAds, 40%, $salty_main, $salty_dark)
}

.skill__mk__fb {
    rotate: -0.9deg;
    @include choose_progress(mk_fb, 20%, $popel_main, $popel_dark)
}

// ----------

// ----------

// CMS

// wix
.skill__cms__wix {
    rotate: -1.9deg;
    @include choose_progress(cms_wix, 80%, $blushing_main, $blushing_dark)
}

.skill__cms__ionos {
    rotate: 1.4deg;
    @include choose_progress(cms_ionos, 60%, $teeth_main, $teeth_dark)
}

.skill__cms__wordpress {
    rotate: 1.1deg;
    @include choose_progress(cms_wordpress, 40%, $salty_main, $salty_dark)
}

.skill__cms__presta {
    rotate: 1.6deg;
    @include choose_progress(cms_presta, 20%, $popel_main, $popel_dark)
}

.skill__cms__magento {
    rotate: -2.1deg;
    @include choose_progress(cms_magento, 20%, $blushing_main, $blushing_dark)
}

.skill__cms__shopware {
    rotate: 1.4deg;
    @include choose_progress(cms_magento, 20%, $teeth_main, $teeth_dark)
}

.skill__cms__joomla {
    rotate: -1.7deg;
    @include choose_progress(cms_joomla, 10%, $salty_main, $salty_dark)
}


// ================
.brick__skills {
    .brick__yellow {
        @include brick_colorchange($teeth_main, $teeth_shine, $teeth_dark);
    }
}


.brick__footer__skills {
    background: linear-gradient(to bottom, rgba(29,151,108,1) 0%, $clr_white 100%);

    .brick__footer__transition {
        .brick__green {
            @include brick_colorchange($popel_main, $popel_shine, $popel_dark);
        }
    }
}